In [2]:
# Importing Liberaries:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [14]:
# Loading Dataset
df= pd.read_csv('heart_attack_risk_analysis.csv')

# 1- Data Assessing:

In [75]:
#Loading a sample of the 1st 15 coulmns:
df.head().iloc[:,:15]

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use
0,RDG0550,33,Male,200,129/90,48,0,1,1,1,1,7.807690,Unhealthy,0,1
1,NMA3851,56,Female,262,159/105,46,1,0,1,0,0,17.297628,Average,1,0
2,TUI5807,19,Female,140,161/109,54,0,1,0,0,1,8.695288,Average,1,1
3,YYT5016,50,Female,163,120/62,53,0,1,1,1,1,10.161587,Healthy,0,1
4,ZAC5937,89,Female,144,153/110,92,1,0,1,0,1,16.436787,Healthy,1,0

In [21]:
#Loading a sample of the last 15 coulmns:
df.head().iloc[:,15:]

,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,2,0.138443,184066,30.449815,63,6,7,Argentina,South America,Southern Hemisphere,1
1,8,0.369552,211755,34.973685,333,7,8,Nigeria,Africa,Northern Hemisphere,1
2,3,8.646334,252203,30.554246,537,2,10,Thailand,Asia,Northern Hemisphere,0
3,7,1.107884,121954,35.390265,591,0,9,Spain,Europe,Southern Hemisphere,1
4,1,1.337570,180121,39.575483,145,2,5,Germany,Europe,Northern Hemisphere,1

In [87]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7010 entries, 0 to 7009
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       7010 non-null   object
 1   Age                              7010 non-null   int64
 2   Sex                              7010 non-null   object
 3   Cholesterol                      7010 non-null   int64
 4   Blood Pressure                   7010 non-null   object
 5   Heart Rate                       7010 non-null   int64
 6   Diabetes                         7010 non-null   int64
 7   Family History                   7010 non-null   int64
 8   Smoking                          7010 non-null   int64
 9   Obesity                          7010 non-null   int64
 10  Alcohol Consumption              7010 non-null   int64
 11  Exercise Hours Per Week          7010 non-null   float64
 12  Diet                             7010 non-null   object
 13  Previous Heart Problems          7010 non-null   int64
 14  Medication Use                   7010 non-null   int64
 15  Stress Level                     7010 non-null   int64
 16  Sedentary Hours Per Day          7010 non-null   float64
 17  Income                           7010 non-null   int64
 18  BMI                              7010 non-null   float64
 19  Triglycerides                    7010 non-null   int64
 20  Physical Activity Days Per Week  7010 non-null   int64
 21  Sleep Hours Per Day              7010 non-null   int64
 22  Country                          7010 non-null   object
 23  Continent                        7010 non-null   object
 24  Hemisphere                       7010 non-null   object
 25  Heart Attack Risk                7010 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.4+ MB
None

In [89]:
# General Charcteristics:
print('General Charcteristics of the dataset:\n')

# Shape:
print(f'  - The dataset has a shape of : {df.shape[0]} Rows and {df.shape[1]} Columns\n')

# Null Values:
nulls= df.isna().sum().sum()
if nulls == 0:
    print('  - No NULL values in this dataset\n')
else:
    print(f'  - This dataset contains {nulls} Null Values\n')

# Duplicates:
duplicates = df.duplicated().sum()
if duplicates == 0:
    print('  - No Duplicates in this dataset\n')
else:
    print(f'  - {duplicates} Rows are Duplicated\n')

General Charcteristics of the dataset:

  - The dataset has a shape of : 7010 Rows and 26 Columns

  - No NULL values in this dataset

  - No Duplicates in this dataset

In [81]:
# Number of unique values:
print(f'The number of unique value in each column:\n{df.nunique()}')

The number of unique value in each column:
Patient ID                         7010
Age                                  73
Sex                                   2
Cholesterol                         281
Blood Pressure                     3590
Heart Rate                           71
Diabetes                              2
Family History                        2
Smoking                               2
Obesity                               2
Alcohol Consumption                   2
Exercise Hours Per Week            7010
Diet                                  3
Previous Heart Problems               2
Medication Use                        2
Stress Level                         10
Sedentary Hours Per Day            7010
Income                             6921
BMI                                7010
Triglycerides                       771
Physical Activity Days Per Week       8
Sleep Hours Per Day                   7
Country                              20
Continent                             6
Hemisphere                            2
Heart Attack Risk                     2
dtype: int64

In [117]:
print('- Total number of patients: {} Patient'.format(df['Patient ID'].count()))
print('- Ages are between {} and {} years'.format(df['Age'].min(),df['Age'].max()))
print('- Patients are classified into {}s and {}s'.format(df['Sex'].unique()[0],df['Sex'].unique()[1]))
print('- Cholesterol Levels are between {}mg/dL and {}mg/dL'.format(df['Cholesterol'].min(),df['Cholesterol'].max()))

- Total number of patients: 7010 Patient
- Ages are between 18 and 90 years
- Patients are classified into Males and Females
- Cholesterol Levels are between 120mg/dL and 400mg/dL

- "Gender" Categories: ['Male' 'Female']

In [123]:
df['Blood Pressure'].max()

'99/98'

In [161]:



df['Heart Rate'].unique()
df['Diabetes'].unique()
df['Family History'].unique()
df['Smoking'].unique()
df['Obesity'].unique()
df['Alcohol Consumption'].unique()
df['Exercise Hours Per Week'].unique()
df['Diet'].unique()
df['Previous Heart Problems'].unique()
df['Medication Use'].unique()
df['Stress Level'].unique()
df['Sedentary Hours Per Day'].unique()
df['Income'].unique()
df['BMI'].unique()
df['Triglycerides'].unique()
df['Physical Activity Days Per Week'].unique()
df['Sleep Hours Per Day']
df['Country'].unique()
df['Continent'].unique()
df['Hemisphere'].unique()
df['Heart Attack Risk'].unique()
df['BMI'].unique()

array([30.44981514, 34.97368488, 30.55424645, ..., 37.4655766 ,
       28.60578881, 22.05704634])

In [151]:
df['h_rate']=np.where((220-df['Age'])*.6> df['Heart Rate'],'Low','Normal')
df['h_rate']=np.where((220-df['Age'])*.8< df['Heart Rate'],'High',df['h_rate'])

In [155]:
df['h_rate'].unique()

array(['Low', 'Normal', 'High'], dtype=object)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7010 entries, 0 to 7009
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       7010 non-null   object
 1   Age                              7010 non-null   int64
 2   Sex                              7010 non-null   object
 3   Cholesterol                      7010 non-null   int64
 4   Blood Pressure                   7010 non-null   object
 5   Heart Rate                       7010 non-null   int64
 6   Diabetes                         7010 non-null   int64
 7   Family History                   7010 non-null   int64
 8   Smoking                          7010 non-null   int64
 9   Obesity                          7010 non-null   int64
 10  Alcohol Consumption              7010 non-null   int64
 11  Exercise Hours Per Week          7010 non-null   float64
 12  Diet                             7010 non-null   object
 13  Previous Heart Problems          7010 non-null   int64
 14  Medication Use                   7010 non-null   int64
 15  Stress Level                     7010 non-null   int64
 16  Sedentary Hours Per Day          7010 non-null   float64
 17  Income                           7010 non-null   int64
 18  BMI                              7010 non-null   float64
 19  Triglycerides                    7010 non-null   int64
 20  Physical Activity Days Per Week  7010 non-null   int64
 21  Sleep Hours Per Day              7010 non-null   int64
 22  Country                          7010 non-null   object
 23  Continent                        7010 non-null   object
 24  Hemisphere                       7010 non-null   object
 25  Heart Attack Risk                7010 non-null   int64
 26  h_rate                           7010 non-null   object
dtypes: float64(3), int64(16), object(8)
memory usage: 1.4+ MB