In [3]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [15]:
df= pd.read_csv('heart_attack_risk_analysis.csv')
df.head().iloc[:,:10]

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity
0,RDG0550,33,Male,200,129/90,48,0,1,1,1
1,NMA3851,56,Female,262,159/105,46,1,0,1,0
2,TUI5807,19,Female,140,161/109,54,0,1,0,0
3,YYT5016,50,Female,163,120/62,53,0,1,1,1
4,ZAC5937,89,Female,144,153/110,92,1,0,1,0

In [13]:
df.head().iloc[:,10:20]

,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides
0,1,7.807690,Unhealthy,0,1,2,0.138443,184066,30.449815,63
1,0,17.297628,Average,1,0,8,0.369552,211755,34.973685,333
2,1,8.695288,Average,1,1,3,8.646334,252203,30.554246,537
3,1,10.161587,Healthy,0,1,7,1.107884,121954,35.390265,591
4,1,16.436787,Healthy,1,0,1,1.337570,180121,39.575483,145

In [17]:
df.head().iloc[:,20:]

,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,6,7,Argentina,South America,Southern Hemisphere,1
1,7,8,Nigeria,Africa,Northern Hemisphere,1
2,2,10,Thailand,Asia,Northern Hemisphere,0
3,0,9,Spain,Europe,Southern Hemisphere,1
4,2,5,Germany,Europe,Northern Hemisphere,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7010 entries, 0 to 7009
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       7010 non-null   object
 1   Age                              7010 non-null   int64
 2   Sex                              7010 non-null   object
 3   Cholesterol                      7010 non-null   int64
 4   Blood Pressure                   7010 non-null   object
 5   Heart Rate                       7010 non-null   int64
 6   Diabetes                         7010 non-null   int64
 7   Family History                   7010 non-null   int64
 8   Smoking                          7010 non-null   int64
 9   Obesity                          7010 non-null   int64
 10  Alcohol Consumption              7010 non-null   int64
 11  Exercise Hours Per Week          7010 non-null   float64
 12  Diet                             7010 non-null   object
 13  Previous Heart Problems          7010 non-null   int64
 14  Medication Use                   7010 non-null   int64
 15  Stress Level                     7010 non-null   int64
 16  Sedentary Hours Per Day          7010 non-null   float64
 17  Income                           7010 non-null   int64
 18  BMI                              7010 non-null   float64
 19  Triglycerides                    7010 non-null   int64
 20  Physical Activity Days Per Week  7010 non-null   int64
 21  Sleep Hours Per Day              7010 non-null   int64
 22  Country                          7010 non-null   object
 23  Continent                        7010 non-null   object
 24  Hemisphere                       7010 non-null   object
 25  Heart Attack Risk                7010 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.4+ MB

In [161]:
df['BMI'].unique()

array([30.44981514, 34.97368488, 30.55424645, ..., 37.4655766 ,
       28.60578881, 22.05704634])

In [151]:
df['h_rate']=np.where((220-df['Age'])*.6> df['Heart Rate'],'Low','Normal')
df['h_rate']=np.where((220-df['Age'])*.8< df['Heart Rate'],'High',df['h_rate'])

In [155]:
df['h_rate'].unique()

array(['Low', 'Normal', 'High'], dtype=object)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7010 entries, 0 to 7009
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       7010 non-null   object
 1   Age                              7010 non-null   int64
 2   Sex                              7010 non-null   object
 3   Cholesterol                      7010 non-null   int64
 4   Blood Pressure                   7010 non-null   object
 5   Heart Rate                       7010 non-null   int64
 6   Diabetes                         7010 non-null   int64
 7   Family History                   7010 non-null   int64
 8   Smoking                          7010 non-null   int64
 9   Obesity                          7010 non-null   int64
 10  Alcohol Consumption              7010 non-null   int64
 11  Exercise Hours Per Week          7010 non-null   float64
 12  Diet                             7010 non-null   object
 13  Previous Heart Problems          7010 non-null   int64
 14  Medication Use                   7010 non-null   int64
 15  Stress Level                     7010 non-null   int64
 16  Sedentary Hours Per Day          7010 non-null   float64
 17  Income                           7010 non-null   int64
 18  BMI                              7010 non-null   float64
 19  Triglycerides                    7010 non-null   int64
 20  Physical Activity Days Per Week  7010 non-null   int64
 21  Sleep Hours Per Day              7010 non-null   int64
 22  Country                          7010 non-null   object
 23  Continent                        7010 non-null   object
 24  Hemisphere                       7010 non-null   object
 25  Heart Attack Risk                7010 non-null   int64
 26  h_rate                           7010 non-null   object
dtypes: float64(3), int64(16), object(8)
memory usage: 1.4+ MB