In [2]:
# Importing Liberaries:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [3]:
# Loading Dataset
df= pd.read_csv('heart_attack_risk_analysis.csv')

# 1- Data Assessing:

In [5]:
#Loading a sample of the 1st 15 coulmns:
df.head().iloc[:,:15]

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use
0,RDG0550,33,Male,200,129/90,48,0,1,1,1,1,7.807690,Unhealthy,0,1
1,NMA3851,56,Female,262,159/105,46,1,0,1,0,0,17.297628,Average,1,0
2,TUI5807,19,Female,140,161/109,54,0,1,0,0,1,8.695288,Average,1,1
3,YYT5016,50,Female,163,120/62,53,0,1,1,1,1,10.161587,Healthy,0,1
4,ZAC5937,89,Female,144,153/110,92,1,0,1,0,1,16.436787,Healthy,1,0

In [6]:
#Loading a sample of the last 15 coulmns:
df.head().iloc[:,15:]

,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,2,0.138443,184066,30.449815,63,6,7,Argentina,South America,Southern Hemisphere,1
1,8,0.369552,211755,34.973685,333,7,8,Nigeria,Africa,Northern Hemisphere,1
2,3,8.646334,252203,30.554246,537,2,10,Thailand,Asia,Northern Hemisphere,0
3,7,1.107884,121954,35.390265,591,0,9,Spain,Europe,Southern Hemisphere,1
4,1,1.337570,180121,39.575483,145,2,5,Germany,Europe,Northern Hemisphere,1

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7010 entries, 0 to 7009
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       7010 non-null   object
 1   Age                              7010 non-null   int64
 2   Sex                              7010 non-null   object
 3   Cholesterol                      7010 non-null   int64
 4   Blood Pressure                   7010 non-null   object
 5   Heart Rate                       7010 non-null   int64
 6   Diabetes                         7010 non-null   int64
 7   Family History                   7010 non-null   int64
 8   Smoking                          7010 non-null   int64
 9   Obesity                          7010 non-null   int64
 10  Alcohol Consumption              7010 non-null   int64
 11  Exercise Hours Per Week          7010 non-null   float64
 12  Diet                             7010 non-null   object
 13  Previous Heart Problems          7010 non-null   int64
 14  Medication Use                   7010 non-null   int64
 15  Stress Level                     7010 non-null   int64
 16  Sedentary Hours Per Day          7010 non-null   float64
 17  Income                           7010 non-null   int64
 18  BMI                              7010 non-null   float64
 19  Triglycerides                    7010 non-null   int64
 20  Physical Activity Days Per Week  7010 non-null   int64
 21  Sleep Hours Per Day              7010 non-null   int64
 22  Country                          7010 non-null   object
 23  Continent                        7010 non-null   object
 24  Hemisphere                       7010 non-null   object
 25  Heart Attack Risk                7010 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.4+ MB
None

In [8]:
# General Charcteristics:
print('General Charcteristics of the dataset:\n')

# Shape:
print(f'  - The dataset has a shape of : {df.shape[0]} Rows and {df.shape[1]} Columns\n')

# Null Values:
nulls= df.isna().sum().sum()
if nulls == 0:
    print('  - No NULL values in this dataset\n')
else:
    print(f'  - This dataset contains {nulls} Null Values\n')

# Duplicates:
duplicates = df.duplicated().sum()
if duplicates == 0:
    print('  - No Duplicates in this dataset\n')
else:
    print(f'  - {duplicates} Rows are Duplicated\n')

General Charcteristics of the dataset:

  - The dataset has a shape of : 7010 Rows and 26 Columns

  - No NULL values in this dataset

  - No Duplicates in this dataset

In [9]:
# Number of unique values:
print(f'The number of unique value in each column:\n{df.nunique()}')

The number of unique value in each column:
Patient ID                         7010
Age                                  73
Sex                                   2
Cholesterol                         281
Blood Pressure                     3590
Heart Rate                           71
Diabetes                              2
Family History                        2
Smoking                               2
Obesity                               2
Alcohol Consumption                   2
Exercise Hours Per Week            7010
Diet                                  3
Previous Heart Problems               2
Medication Use                        2
Stress Level                         10
Sedentary Hours Per Day            7010
Income                             6921
BMI                                7010
Triglycerides                       771
Physical Activity Days Per Week       8
Sleep Hours Per Day                   7
Country                              20
Continent                             6
Hemisphere                            2
Heart Attack Risk                     2
dtype: int64

In [10]:
# Overview:
print('Dataset Overview:\n- Total number of patients: {} Patient.'.format(df['Patient ID'].count()))
print('\n- Ages are between {} & {} years.'.format(df['Age'].min(),df['Age'].max()))
print('\n- Patients are classified into {}s & {}s.'.format(df['Sex'].unique()[0],df['Sex'].unique()[1]))
print('\n- Cholesterol Levels are between {} mg/dL and {} mg/dL.'.format(df['Cholesterol'].min(),df['Cholesterol'].max()))
print('\n- Heart Rates are between {} beats/min and {} beats/min.'.format(df['Heart Rate'].min(),df['Heart Rate'].max()))
print('\n- Non-Diabetic patients are classified as {} & Daiabetic patients as {}.'.format(df['Diabetes'].unique()[0],df['Diabetes'].unique()[1]))
print('\n- Patients with No Family Related Hearts Problems are classified as {} & those With Family Related Heart Problems as {}.'.format(df['Family History'].unique()[1],df['Family History'].unique()[0]))
print('\n- Non-Smokers are classified as {} & Smokers as {}.'.format(df['Smoking'].unique()[1],df['Smoking'].unique()[0]))
print('\n- Not-Obese Patients are classified as {} & Obese Patients as {}.'.format(df['Obesity'].unique()[1],df['Obesity'].unique()[0]))
print('\n- Patients\' Alcohol consumption is classified into {} as YES & {} as NO.'.format(df['Alcohol Consumption'].unique()[0],df['Alcohol Consumption'].unique()[1]))
print('\n- Patients\' Exercise Hours are between {} hrs/week & {} hrs/week.'.format(df['Exercise Hours Per Week'].round(4).min(),df['Exercise Hours Per Week'].round(4).max()))
print('\n- Patients\' Diets are clasified as {}, {}, & {}.'.format(df['Diet'].unique()[0],df['Diet'].unique()[1],df['Diet'].unique()[2]))
print('\n- Patients\' Previous Heart Problems are classified into {} as YES & {} as NO.'.format(df['Previous Heart Problems'].unique()[1],df['Previous Heart Problems'].unique()[0]))
print('\n- Patients\' Medication Use is classified into {} as YES & {} as NO.'.format(df['Medication Use'].unique()[0],df['Medication Use'].unique()[1]))
print('\n- Patients\' Stress levels are between {} "The Lowest" & {} "The Highest".'.format(df['Stress Level'].min(),df['Stress Level'].max()))
print('\n- Patients\' Sedentary Hours Per Day are between {} hrs/day & {} hrs/day.'.format(df['Sedentary Hours Per Day'].round(4).min(),df['Sedentary Hours Per Day'].round(4).max()))
print('\n- Patients\' Incomes are between {} & {}.'.format(df['Income'].min(),df['Income'].max()))
print('\n- Patients\' Body Mass Indecies (BMI) are between {} & {}.'.format(df['BMI'].round(4).min(),df['BMI'].round(4).max()))

Dataset Overview:
- Total number of patients: 7010 Patient.

- Ages are between 18 & 90 years.

- Patients are classified into Males & Females.

- Cholesterol Levels are between 120 mg/dL and 400 mg/dL.

- Heart Rates are between 40 beats/min and 110 beats/min.

- Non-Diabetic patients are classified as 0 & Daiabetic patients as 1.

- Patients with No Family Related Hearts Problems are classified as 0 & those With Family Related Heart Problems as 1.

- Non-Smokers are classified as 0 & Smokers as 1.

- Not-Obese Patients are classified as 0 & Obese Patients as 1.

- Patients' Alcohol consumption is classified into 1 as YES & 0 as NO.

- Patients' Exercise Hours are between 0.0024 hrs/week & 19.9987 hrs/week.

- Patients' Diets are clasified as Unhealthy, Average, & Healthy.

- Patients' Previous Heart Problems are classified into 1 as YES & 0 as NO.

- Patients' Medication Use is classified into 1 as YES & 0 as NO.

- Patients' Stress levels are between 1 "The Lowest" & 10 "The Highest".

- Patients' Sedentary Hours Per Day are between 0.0013 hrs/day & 11.9993 hrs/day.

- Patients' Incomes are between 20062 & 299954.

- Patients' Body Mass Indecies (BMI) are between 18.0023 & 39.9936.

In [19]:
df['Triglycerides'].unique()

array([ 63, 333, 537, 591, 145, 746, 367, 398,  85, 729, 718, 166, 266,
       547, 415, 172, 731, 204, 195, 428, 379, 364, 521, 486, 777,  53,
       132, 407,  35, 424, 199, 560, 240, 798, 328, 382, 658, 430, 501,
       465, 413,  44,  38, 347, 786,  98, 684, 776, 495,  56, 282, 163,
       104, 340, 664, 352, 500, 313, 149, 158, 582, 449, 760, 542, 115,
       606, 498, 749, 324, 363, 248, 121, 268,  61, 524, 156, 454,  65,
       488, 421, 480, 702, 353, 312, 188, 171, 523, 218, 642, 666, 202,
       673, 232, 131, 574, 290, 697, 533, 681, 274, 280, 396, 705,  51,
       220,  72, 508, 485, 259, 781, 626, 389,  59, 309,  83, 160, 404,
       123, 581, 649, 699, 765, 190, 654, 707, 639, 622, 261, 176, 124,
       293,  50, 390, 596, 384, 237,  69,  47, 680, 629,  54, 754, 177,
       432, 593, 461, 214, 168, 285, 431, 750, 669, 371, 490, 162, 119,
       601, 154, 448, 445, 355, 761, 279, 744, 541, 791, 510, 709, 736,
       652,  89, 722, 281, 613, 579, 108, 594, 710, 492, 111, 230, 763,
       602,  55, 741, 701, 318, 252, 411, 213, 614, 133, 569, 617, 247,
       588, 545, 391, 772, 258, 307, 607, 370, 186, 600, 211, 748, 283,
       200, 735, 206, 395, 386, 675, 139, 648, 241, 531, 323, 208, 286,
       192,  66, 467, 140, 152, 771, 778, 183, 603, 466, 734, 693, 519,
        46,  36, 273, 269, 641,  92, 536, 544, 691, 360, 378, 752, 713,
       362,  31, 482, 708, 762, 559, 142,  73, 159, 698, 187, 341, 136,
       196, 344,  93, 245, 678, 688, 764, 387, 325, 223, 410, 416,  68,
       337, 423,  60, 263, 339, 276, 420, 782, 635, 494, 703, 167, 769,
       507, 609, 126, 287, 155, 632, 627, 457, 209, 242, 345, 470, 663,
       221, 714, 197, 502, 558, 193, 621, 460, 228, 790, 785, 316, 227,
       400, 633, 429, 453, 509,  43, 321, 546, 308, 289, 380, 676, 529,
       314, 229, 231, 644, 783, 517, 446, 366, 792, 696, 742, 661, 215,
       217, 127, 456, 637, 638, 157, 207, 745,  91, 106, 610, 350, 679,
        67, 587, 481, 348, 766, 125,  62, 455,  84, 251, 471, 464, 191,
       393, 689, 304, 540, 356, 336, 114, 740, 170, 483, 236, 433, 553,
       656, 625,  57, 294, 799, 474, 773, 535, 458,  39, 512, 194, 599,
       298, 700, 616, 385, 532, 439, 685, 437, 788,  48, 793, 473, 255,
       695, 235, 103, 572, 759, 319, 310, 265, 189, 250,  64, 728, 711,
        77,  96, 253, 301, 143, 747,  58, 110, 568, 256, 272, 174, 767,
       584,  82, 408, 604, 392,  37, 499, 775, 557, 361, 297, 758, 334,
       249, 112, 335, 550, 113, 354, 755, 645, 564, 452, 640, 450, 271,
       233, 102, 479, 368, 487, 277, 789, 292, 571, 128, 182, 238, 438,
       561, 605, 570, 146, 665, 141, 704, 784, 329,  34, 101,  30, 503,
       562,  70, 657, 538, 349, 670, 275, 522, 153, 306,  87, 383, 358,
       549, 556, 212,  99, 555, 768, 440, 565, 563, 623, 426, 504, 753,
       618, 548, 552, 796, 687, 598, 459,  41, 402, 320, 634, 463, 583,
       267, 506, 682, 620, 497, 397, 779, 647, 624, 677, 751, 120,  78,
       715, 800, 716, 469, 288, 659, 122, 373, 342,  75, 376, 322, 129,
       530, 496, 575, 590, 628, 317, 210,  86,  94, 315, 300, 527, 244,
       144, 302,  71, 377, 472, 327, 326, 443, 589, 359, 284, 409, 412,
       305, 399, 224,  74, 756, 720, 577, 375, 518, 619, 100, 683, 719,
       612, 528, 388, 201, 374, 278, 539, 797, 381,  49, 369, 418, 476,
       712, 706, 493, 551, 516, 270, 351, 403, 447, 743, 726, 515, 615,
       636, 372, 406, 147, 724, 478, 425, 134, 631, 148,  76, 291,  95,
        81, 138, 692, 180, 686, 205, 732, 653, 738, 401, 757,  45, 216,
       405, 164, 173,  80, 161, 468, 419, 222, 422, 346, 303,  97, 489,
       441, 592, 260, 674, 116, 646, 667, 175, 417, 135, 725,  79, 595,
       717, 491, 226,  33,  52,  40, 597, 650, 643, 436, 330, 655, 795,
       239, 442, 105, 526, 660, 505, 511, 567, 246, 630, 733, 343, 394,
       107, 150, 723, 727, 668, 427, 151, 357, 434, 730, 181, 451, 608,
       109, 514, 671,  88, 787, 234, 739, 576, 184, 444, 484, 737, 262,
       338, 780, 219, 178, 299, 137, 672,  90, 694, 721, 520, 332, 566,
       225, 257, 165,  32, 331, 543, 117, 311, 203, 435, 264, 365, 179,
       586, 254, 185, 513, 651, 774, 525,  42, 475, 690, 198, 477, 534,
       554, 169, 611, 462, 770, 296, 662, 585, 580, 414, 573, 578, 243,
       794, 130, 295, 118], dtype=int64)

In [237]:



df['Physical Activity Days Per Week'].unique()
df['Sleep Hours Per Day']
df['Country'].unique()
df['Continent'].unique()
df['Hemisphere'].unique()
df['Heart Attack Risk'].unique()
df['BMI'].unique()

array([30.44981514, 34.97368488, 30.55424645, ..., 37.4655766 ,
       28.60578881, 22.05704634])

In [151]:
df['h_rate']=np.where((220-df['Age'])*.6> df['Heart Rate'],'Low','Normal')
df['h_rate']=np.where((220-df['Age'])*.8< df['Heart Rate'],'High',df['h_rate'])

In [155]:
df['h_rate'].unique()

array(['Low', 'Normal', 'High'], dtype=object)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7010 entries, 0 to 7009
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       7010 non-null   object
 1   Age                              7010 non-null   int64
 2   Sex                              7010 non-null   object
 3   Cholesterol                      7010 non-null   int64
 4   Blood Pressure                   7010 non-null   object
 5   Heart Rate                       7010 non-null   int64
 6   Diabetes                         7010 non-null   int64
 7   Family History                   7010 non-null   int64
 8   Smoking                          7010 non-null   int64
 9   Obesity                          7010 non-null   int64
 10  Alcohol Consumption              7010 non-null   int64
 11  Exercise Hours Per Week          7010 non-null   float64
 12  Diet                             7010 non-null   object
 13  Previous Heart Problems          7010 non-null   int64
 14  Medication Use                   7010 non-null   int64
 15  Stress Level                     7010 non-null   int64
 16  Sedentary Hours Per Day          7010 non-null   float64
 17  Income                           7010 non-null   int64
 18  BMI                              7010 non-null   float64
 19  Triglycerides                    7010 non-null   int64
 20  Physical Activity Days Per Week  7010 non-null   int64
 21  Sleep Hours Per Day              7010 non-null   int64
 22  Country                          7010 non-null   object
 23  Continent                        7010 non-null   object
 24  Hemisphere                       7010 non-null   object
 25  Heart Attack Risk                7010 non-null   int64
 26  h_rate                           7010 non-null   object
dtypes: float64(3), int64(16), object(8)
memory usage: 1.4+ MB